.center {
  text-align: center;
}
body {
  background-color: hsl(106, 100%, 26%);
}

.error {
  color: rgb(184, 0, 0);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.App-logo {
  animation: App-logo-spin infinite 2s linear;
  height: 80px;
}

button {
  background-color: #003d55;
  color: hsl(106, 100%, 26%);
  font-size: 3rem;
}

input {
  margin-left: 10px;
  font-size: 3rem;
}
label {
  font-size: 3rem;
}

.App-header {
  background-color: hsl(197, 100%, 17%);
  height: 50px;
  padding: 20px;
  color: hsl(106, 100%, 26%);
  text-align: center;
}

.playing-space {
  text-align: center;
  height: 96px;
}
.hand {
  margin-left: 50px;
}
.card-back {
  margin-left: -57px;
  width: 71px;
}

.card-in-hand {
  margin-left: -50px;
  width: 71px;
}

.player-hand {
  margin-left: -60px;
  width: 71px;
}

.highlight {
  border: 4px solid hsl(22, 100%, 50%);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 2px;
}
.bot-name {
  margin-top: -5px;
}
.less-margin-right {
  margin-left: 60px;
}
.highlight-player {
  border: 4px solid hsl(22, 100%, 50%);
  border-radius: 10px;
  padding: 10px;
  /* margin-top: 30px; */
}
.player-hand {
  margin-left: -50px;
  width: 71px;
}

.log {
  /* float: right; */
  right: 0;
  position: fixed;
  text-align: center;
  bottom: 0;
  /* width: 100%; */
}

h4.book {
  margin-top: -20px;
}

.center-cards {
  text-align: center;
  margin-bottom: 50px;
}
.center-cards img {
  width: 71px;
  margin-left: -68px;
}
.holder {
  margin-top: -15px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.bot {
  text-align: center;
  /* width : 190px; */
  margin: 0 20px 10px 20px;
  display : inline-block;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.log {
  background-color: lightgrey;
  /* float: bottom; */
  /* float: right; */
  margin-right: 40px;
  margin-bottom: 40px;
  margin-top: -350px;
  border: 3px solid grey;
  border-radius: 20px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: -40px;
}

.submit {
  font-size: 40px;
  background-color: hsl(106, 100%, 26%);
}
.bigger {
  font-size: 80px;
}

.inbetween-match {
  margin-right: 10px;
}

.matches {
  display: inline;
}

.match {
  width: 45px;
  margin-left: -37px;
}

.player-spot {
  text-align: center;
}

/* #center_pile {
  width: 71px;
  height: 96px;
}
#random_number {

} */
.flex-container {
  justify-content: space-around;
  display: flex;
  flex-wrap: nowrap;
  /* max-width: 400px; */
  /* margin: 0 auto; */
}

.bot {
  margin: 30px;
}

/* #playing_space {
  height: 300px;
}
#your_hand {
  margin-left: -100px;
}
#playing_space center {
  margin-top: 140px;
}
#playing_space center img {
  margin-top: -40px;
}
#heading {
  background-color: lightblue;
  color: darkblue;
}
#hand {
  margin-right: -40px;
  width: 71px;
  height: 96px;
} */

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
