.center {
  text-align: center;
}
body {
  background-color: hsl(106, 100%, 26%);
}

.error {
  color: rgb(184, 0, 0);
}

button {
  background-color: #003d55;
  color: hsl(106, 100%, 26%);
  font-size: 3rem;
}

input {
  margin-left: 10px;
  font-size: 3rem;
}

label {
  font-size: 3rem;
}

.App-header {
  background-color: hsl(197, 100%, 17%);
  height: 50px;
  padding: 20px;
  color: hsl(106, 100%, 26%);
  text-align: center;
}

.playing-space {
  text-align: center;
  height: 96px;
}

.card-back {
  margin-left: -57px;
  width: 71px;
}

.card-in-hand {
  margin-left: -50px;
  width: 71px;
}

.player-hand {
  margin-left: 30px;
  text-align: center;
  display: inline;
}

.highlight {
  border: 4px solid hsl(22, 100%, 50%);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 2px;
}

.bot-name {
  margin-top: -5px;
}

.highlight-player {
  border: 4px solid hsl(22, 100%, 50%);
  border-radius: 10px;
  padding: 10px;
}

.log {
  right: 10px;
  position: fixed;
  text-align: center;
  bottom: 20px;
  background-color: lightgrey;
  border: 3px solid grey;
  border-radius: 20px;
  padding-top: 30px;
}

h4.book {
  margin-top: -20px;
}

.holder {
  margin-top: -15px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.bot {
  text-align: center;
  margin: 0 20px 10px 20px;
  display : inline-block;
}

.submit {
  font-size: 40px;
  background-color: hsl(106, 100%, 26%);
}

.inbetween-match {
  margin-right: 10px;
}

.matches {
  display: inline;
}

.match {
  width: 45px;
  margin-left: -37px;
}

.player-spot {
  text-align: center;
}

.flex-container {
  justify-content: space-around;
  display: flex;
  flex-wrap: nowrap;
}

.bot {
  margin: 30px;
  padding: 0 30px 0 60px;
}

.bot-hand {
  margin-right: -20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@media only screen and (max-width: 823px) {
  h4.book {
    margin-top: -15px;
    font-size: 10px;
  }
  .card-back {
    margin-left: -65px;
  }
}
@media only screen and (max-width: 414px) {
  .flex-container {
    flex-wrap: wrap;
  }

  .log {
    margin-top: 50px;
    position: relative;
  }
}